body{
    background-color: rgb(227, 182, 236);
    border: rgba(108, 17, 131, 0.658) double 5px;
    padding: 20px;
}
p{
    background-color:rgb(226, 43, 226);
    border-radius: 25px;
    padding: 20px;
    margin: 0px 50px 0px 50px;
}
h1{background-color: rgb(179, 48, 150,0.5);}